<!-- sobre.html -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saiba_mais</title>
    <!-- Adicione aqui qualquer link para arquivos de estilo CSS -->
</head>
<body>
    <header>
        <h1>saiba_mais</h1>
    </header>
    <main>
        <p>
            Bem-vindo à nossa página "saiba_mais"! Somos uma equipe dedicada a criar incríveis aplicativos web com Django.
            Fique à vontade para nos contatar se tiver alguma dúvida ou sugestão.
        </p>
    </main>
    <footer>
        <!-- Adicione aqui qualquer conteúdo do rodapé -->
    </footer>
</body>
</html>
